<header class="sticky top-0 z-5 border-b-2 border-gray-200 p-4">
  <div class="flex justify-center">
    <a href="/" class="w-40">
      {%- render 'component.icon', type: "logo" -%}
    </a>
  </div>
</header>