{%- liquid
  assign s = section.settings
-%}

<div class="bg-gray-200">
  <h2 class="text-center">{{- s.title -}}</h2>
  <div class="flex">
    {% for block in section.blocks %}
      {%- liquid
        assign b = block.settings
      -%}
      <div class="w-1/3">
        {%- render 'component.image', img: b.image -%}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "As seen in",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "As seen in"
      }
    ],
    "blocks": [
      {
        "type": "media",
        "name": "media",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "As seen in"
      }
    ]
  }
{% endschema %}
