{%- liquid
  assign s = section.settings
-%}
<div class='md:flex'>
  <div class='md:w-1/2'>
    <h2 class='text-2xl'>{{- s.title -}}</h2>
    <div class='text'>{{- s.content -}}</div>
  </div>
  <div class='md:w-1/2'>
    {%- render 'component.image', img: s.image, desktop_img: s.desktop_image -%}
  </div>
</div>

{% schema %}
  {
    "name": "Text image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      }
    ],
    "presets": [
      {
        "name": "Text image"
      }
    ]
  }
{% endschema %}
